.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  
}

.logo_cont {
  position: relative;
  display: flex;
  align-items: center;
  
}

.logo_cont .sarga {
  height: 100%;
  
  
}

.logo_cont .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
}

.header_nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_nav img {
  height: 100%;
}

.header_nav nav {
  position: absolute;
  
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}

.header_nav nav a {
  color: #fff;
  text-decoration: none;
  font-size: 170%;
  font-family: 'Baloo_Bold', cursive;
  font-weight: 700;
}

.header_nav nav a:hover {
  color: #2A2835
}